body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
}
p {
    color: dimgray;
}
.orange-heightlight {
    color: orange;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img {
    width: 100%;
}
.top-banner {
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
section {
    height: 500px;
    padding-bottom: 150px;
}
.top-button {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg, lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    transition: 1s;
    
}
.top-button:hover {
    background-image: linear-gradient(170deg, tomato,lightSalmon);
}
.dream-area {
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experiences-area {
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.single-experiences {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon,tomato);
    border-image-slice: 1;
}
#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}
footer p {
    text-align: center;
    font-size: 16px;
    color: dimgray;
}